.password-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.password-form .password-form__header{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.password-form .password-form__forms{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.password-form .password-form__forms .password-form__form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 485px;
    width: 100%;
}

.password-form .error-alert, .password-form button, .password-form .input-text{
    max-width: 485px;
}

@media screen and (max-width: 787px){
    .password-form .password-form__forms .password-form__form{
        max-width: 100%;
    }

    .password-form .error-alert, .password-form button, .password-form .input-text{
        max-width: 100%;
    }
}
