.input-button{
    display: flex;
    height: 45px;
    width: 100%;
    border-radius: 5px;
}

.input-button input{
    height: 45px;
    width: 100%;
    font-family: 'text-small';
    color: #7C7B7B;
    border: 2px solid #0C0C0C;
    border-radius: 5px 0 0 5px;
    padding: 10px;
    border-right: none;
    background: none;
    outline: none;
}

.input-button .button{
    border-radius: 0 5px 5px 0;
}