.button{
    height: 45px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #0C0C0C;
    transition: all .3s ease-in;
}

.button--default{

}

.button--default:hover{
    color: #fff;
    background: #7C7B7B;
}

.button--primary{
    color: #fff;
    background: #0C0C0C;
}

.button--small{
    color: #fff;
    background: #0C0C0C;
    height: 25px;
    padding: 0 20px;
}

.button--primary:hover{
    color: #fff;
    background: #7C7B7B;
}

.button--small:hover{
    color: #fff;
    background: #7C7B7B;
}